<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>账号查询</title>
    <link rel="shortcut icon" href="#"/>

    <script type="text/javascript" src="../js/Jquery.js"></script>
    <script type="text/javascript" src="../js/jquerysession.js"></script>

    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/icons/bootstrap-icons.css">
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>

    <!--bootstrap-table-->
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/bootstrap-table.css">
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-table.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-table-zh-CN.min.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/colResizable-1.6.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-table-resizable.js"></script>

    <link rel="stylesheet" href="../css/main.css">
    <script type="text/javascript" src="../js/main.js"></script>
    <script type="text/javascript" src="../js/accountQuery.js"></script>
</head>

<body class="pt-2" style="width: 98%;margin-left: 2%">
<div class="top-toolbar row">
    <div class="col-md-3 mb-2">
        <select id="system" class="form-control">
            <option value="云合未来财务系统">云合未来财务系统</option>
            <option value="云合人事管理系统">云合人事管理系统</option>
            <option value="云合未来进销存系统">云合未来进销存系统</option>
            <option value="云合排产管理系统">云合排产管理系统</option>
            <option value="云合分权编辑系统">云合分权编辑系统</option>
            <option value="云合未来教务系统">云合未来教务系统</option>
            <option value="云合智慧门店收银系统">云合智慧门店收银系统</option>
            <option value="云合信息采集系统">云合信息采集系统</option>
        </select>
    </div>
    <div class="col-md-3 mb-2">
        <input id="company" type="text" class="form-control" placeholder="公司名" autocomplete="off">
    </div>
    <div class="col-md-3 mb-2">
        <input id="username" type="text" class="form-control" placeholder="用户名" autocomplete="off">
    </div>
    <div class="col-md-2 mb-2">
        <button id="select-btn" class="btn btn-primary">
            <i class="bi bi-search icon"></i>
            查询
        </button>
    </div>
</div>

<div id="table-toolbar">
    <div class="btn-group" role="group">
        <button id="refresh-btn" class="btn btn-primary">
            <i class="bi bi-arrow-clockwise icon"></i>
            刷新
        </button>
        <button id="jinyong-btn" class="btn btn-primary">
            <i class="bi bi-trash icon"></i>
            禁用
        </button>
        <button id="jiejin-btn" class="btn btn-primary">
            <i class="bi bi-trash icon"></i>
            解禁
        </button>
        <button id="delete-btn" class="btn btn-primary">
            <i class="bi bi-trash icon"></i>
            删除
        </button>
        <a class="btn btn-primary" style="color: white;padding-top: 8px">当前页：账号查询</a>
    </div>
</div>

<div class="table-div border-top">
    <table id="accountTable"></table>
</div>

<div id="delete-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">提示</div>
            </div>
            <div id="delete-modal-body" class="modal-body">
                确定禁用吗？
            </div>
            <div class="border-top" style="padding: 15px;">
                <button id="delete-submit-btn" type="button" class="btn btn-primary">
                    <i class="bi bi-arrow-bar-up icon"></i>
                    确定
                </button>
                <button id="delete-close-btn" type="button" class="btn btn-primary left-margin">
                    <i class="bi bi-x-circle icon"></i>
                    取消
                </button>
            </div>
        </div>
    </div>
</div>

</body>
</html>