<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>公告详情</title>
  <script type="text/javascript" src="../js/Jquery.js"></script>
  <script type="text/javascript" src="../js/jquerysession.js"></script>

  <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../bootstrap-4.5.0-dist/icons/bootstrap-icons.css">
  <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/bootstrap-table.css">
  <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-table.js"></script>
  <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-table-zh-CN.min.js"></script>
  <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/colResizable-1.6.js"></script>
  <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-table-resizable.js"></script>

  <script type="text/javascript" src="../js/noticeDetail.js"></script>
  <script type="text/javascript" src="../js/main.js"></script>
  <style>
    body{
      background-image: url("../img/beijing.png");
    }
    h1{
      margin-top: 2%;
     margin-left: 40%;
    }
    .tou{
      margin-left: 10%;

    }
    p{
      padding-left: 10%;
      padding-right: 10%;
      text-indent: 2em;
    }
    .ftime{
      float: right;
      margin-right: 10%;
    }
    a{
      position: fixed;
      top: 0;

    }
    a:hover{
      cursor: pointer;
    }
  </style>
</head>
<body>
<!--<ul class="breadcrumb">-->
<!--  <li><a href="#html/noticeList.html">公告</a></li>-->
<!--&lt;!&ndash;  <li><a href="#">详情</a></li>&ndash;&gt;-->
<!--</ul>-->

<h1>最新公告</h1> <br>
<span style="margin-left: 5em">公告详情</span><span style="margin-left:50% ">版权由云合未来计算机技术有限公司所有，未经许可不得转载。</span>
<hr>
<div>
  <div class="tou">当事人：<span id="uname"></span></div><br>
  <p id="detail"></p><br>
  <div class="ftime">发布时间：<span id="fdate"></span></div>
</div>
<input type="file" id="pic_file" style="display: none">
<button type="button" class="btn btn-deflaut" data-clipboard-text="testing" id="body_insert" style="margin-top: 20%">更换背景</button>
</body>
</html>