<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>公告</title>
    <script type="text/javascript" src="../js/Jquery.js"></script>
    <script type="text/javascript" src="../js/jquerysession.js"></script>

    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/icons/bootstrap-icons.css">
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/bootstrap-table.css">
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-table.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-table-zh-CN.min.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/colResizable-1.6.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-table-resizable.js"></script>

    <script type="text/javascript" src="../js/noticeList.js"></script>
    <script type="text/javascript" src="../js/main.js"></script>

    <style>
        .nav-gonggao{
            margin-left: auto;
            margin-right: auto;
            width: 50%;
            text-align: center;
        }
    </style>

</head>
<body>
    <h1 class="nav-gonggao">企业公告栏</h1>
    <div style="margin-top: 10px ;margin-bottom: 5px">公告内容                                   公告详情版权由云合未来计算机技术有限公司所有，未经许可不得转载。</div>
    <hr>
    <div class="table-div border-top" style="margin-top: 5px">
        <table id="noticeTable"></table>
    </div>

</table>
</body>
</html>